@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
}
.container {
  width: fit-content;
  margin: 0 auto;
  header {
    margin-top: 64px;
    display: flex;
    align-items: center;
    .logo {
      margin: 0;
      padding: 0;
      width: 98.98px;
      height: 34.93px;
      background-image: url("../assets//img/Vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    ul {
      z-index: 2;
      display: flex;
      list-style-type: none;
      margin-left: 359.95px;
      li {
        margin-right: 45px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #131212;
      }
    }
    .cart_container {
      margin-left: 364px;
      display: flex;
      .image {
        width: 30px;
        height: 30px;
        margin-right: 43.5px;
        background-image: url("../assets/img/contact.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .cart {
        position: relative;
        .image {
          width: 30px;
          height: 30px;
          margin-right: 43.5px;
          background-image: url("../assets/img/cart.svg");
        }
        span {
          width: 24px;
          height: 24px;
          z-index: 3;
          left: 17px;
          top: -12px;
          border-radius: 50%;
          background: #ff0000;
          position: absolute;
          font-family: "SF Pro Text";
          font-size: 18px;
          line-height: 21px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
  main {
    width: 1701px;
    position: relative;
    display: flex;
    margin-top: 168.69px;
    .options {
      z-index: 7;
      background-color: transparent;
      background: transparent;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #131212;
      }
      .h1 {
        background-color: transparent;
        background: transparent;
        margin-top: 25px;
        margin-left: 21px;

        h1 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 800;
          font-size: 60px;
          width: 600px;
          line-height: 73px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #131212;
          height: 73px;
        }
        h2 {
          margin-top: 24px;
          font-family: "Helvetica Neue";
          font-size: 20px;
          width: 488px;
          height: 60px;
          line-height: 30px;
          color: #131212;
          margin-bottom: 220px;
          opacity: 0.5;
        }
        span {
          margin: 0;
          padding: 0;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          text-transform: uppercase;
          color: #131212;
          writing-mode: vertical-lr;
          rotate: 180deg;
        }
      }
    }
    .selection {
      z-index: 3;
      margin-left: 680px;
      .size {
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #131212;
        }
        ul {
          margin-top: 36px;
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          .active {
            border: 4px solid gray;
          }
          li {
            margin-right: 20px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
      .color_wraper {
        margin-top: 52px;
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #131212;
        }
        .color_container {
          margin-top: 28px;
          display: flex;
          .color_item {
            width: 48px;
            height: 48px;
            border-radius: 100px;
            margin-right: 20px;
            cursor: pointer;
          }
          .active {
            border: 4px solid gray;
            width: 48px;
            height: 48px;
            border-radius: 100px;
            margin-right: 20px;
          }
        }
      }
      .href {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 126px;

        .svg {
          margin-right: 40px;
          display: flex;
          flex-direction: column;
          svg {
            margin-bottom: 30px;
          }
        }
      }
    }
    .sneakers {
      z-index: 2;
      display: block;
      position: absolute;
      top: -300px;
      left: 250px;
    }
  }
  .management_cart {
    display: flex;
    width: 1680px;
    margin-left: 20px;
    background: #ffffff;
    .direction {
      display: flex;
      margin-left: 80px;
      .direction_flex {
        margin-right: 54px;
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          color: #131212;
          margin-bottom: 4px;
        }
        .prew {
          height: 12px;
          width: 59px;
          background-image: url("../assets//img/line.svg");
          background-repeat: no-repeat;
          background-size: cover;
          transform: rotate(180deg);
        }
        .next {
          height: 12px;
          width: 59px;
          background-image: url("../assets//img/line.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
    .add {
      margin-left: 1020px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      cursor: pointer;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #131212;
    }
  }
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf");
  font-style: normal;
  font-weight: normal;
}
